{% extends "orders/base.html" %}

{% block title %}
    Pizza
{% endblock %}

{% block body %}
    <h1>Pizza</h1>

    <hr>

    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>

{% endblock %}


<!-- 
<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
    </head>
    <body>
        <h1>Menu</h1>
        <ul>
            {% for pizza in pizzas %}
            <li>
                {{ pizza }}
            </li>
            {% endfor %}
        </ul>
    </body>
</html> -->