{% extends "orders/base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block body %}
    <h1>Hello, {{ user.first_name }}</h1>
    <ul>
        <li>Currently logged in as: {{ user.username}}, {{ user.id }}</li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    
    <!-- #region Orders -->
    {% if pending_orders %}
        <h2>Pending Orders</h2>
        {% for order in pending_orders %}
        <li>
            {{ order }}
        </li>
        {% endfor %}
    {% endif %}

    {% if delivered_orders %}
        <h2>Delivered Orders</h2>
        {% for order in delivered_orders %}
        <li>
            {{ order }}
        </li>
        {% endfor %}
    {% endif %}
    <!-- #endregion Orders -->

    <!-- #region Menu -->
    <h2>Menu</h2>
    
    <!-- <ul>
        {% for pizza in pizzas %}
        <li>
            {{ pizza }}
        </li>
        {% endfor %}
    </ul> -->
    
    <!-- <h2>Add Item to Shopping Cart</h2> -->
    
    <!-- pizza selection -->
    {% if pizzas %}
        <h3>Pick a Pizza</h3>
        <form id="pizza_form" action="{% url 'cart' %}" method="post">
            {% csrf_token %}
            

            <select id="pizza_name" name="pizza_name">
                <!-- <option>Select pizza</option> -->
                {% for pizza_name in pizza_names %}
                    <option value="{{ pizza_name.id }}">{{ pizza_name }}</option>
                {% endfor %}
            </select>

            <select id="pizza_size" name="pizza_size">
                <!-- <option>Select size</option> -->
                {% for pizza_size in pizza_sizes %}
                    <option value="{{ pizza_size.id }}">{{ pizza_size }}</option>
                {% endfor %}
            </select>
            
            <select id="pizza_toppings" name="pizza_toppings" multiple>
                {% for pizza_topping in pizza_toppings %}
                <option value="{{ pizza_topping.id }}">{{ pizza_topping }}</option>
                {% endfor %}
            </select>
            
            <select name="pizza_topping_combo">
                <option id="pizza_topping_combo"></option>
            </select>

            <span id="pizza_price"></span>
            <label for="count">Quantity (between 1 and 50):</label>
            <input type="number" id="quantity" name="count" min="1" max="50" value="1">
            
            <input type="submit" value="Add to cart"/>
        </form>
    {% endif %}

    <!-- subs selection -->
    {% if subs %}
        <h3>Pick a Sub</h3>
        <form id="sub_form" action="{% url 'cart' %}" method="POST">
            {% csrf_token %}

            <select name="sub_name">
                {% for sub_name in sub_names %}
                    <option value="{{ sub_name.id }}">{{ sub_name }}</option>
                {% endfor %}
            </select>
            
            <select name="sub_size">
                {% for sub_size in sub_sizes %}
                    <option value="{{ sub_size.id }}">{{ sub_size }} </option>"
                {% endfor %}
            </select>

            <select name="sub_add_on" multiple>
                {% for sub_add_on in sub_add_ons %}
                    <option value="{{ sub_add_on.id }}">{{ sub_add_on }} </option>"
                {% endfor %}
            </select>

            <span id="sub_price"></span>
            <label for="count">Quantity (between 1 and 50):</label>
            <input type="number" id="quantity" name="count" min="1" max="50" value="1">

            <input type="submit" value="Add to cart"/>
        </form>
    {% endif %}

    {% if pastas %}
        <h3>Pick a Pasta</h3>
        <form id="pasta_form" action="{% url 'cart' %}" method="POST">
            {% csrf_token %}
            <select name="pasta_name_price">
                {% for pasta in pastas %}
                    <option value="{{ pasta.id }}">{{ pasta }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add to cart">
        </form>
    {% endif %}

    {% if salads %}
        <h3>Pick a Salad</h3>
        <form id="salad_form" action="{% url 'cart' %}" method="POST">
            {% csrf_token %}
            <select name="salad_name_price">
                {% for salad in salads %}
                    <option value="{{ salad.id }}">{{ salad }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add to cart">
        </form>
    {% endif %}

    {% if dinner_platters %}
        <h3>Pick a Dinner Platter</h3>
        <form id="dinner_platter" action="{% url 'cart' %}" method="POST">
            {% csrf_token %}
            <select name="dinner_platter_name">
                {% for dinner_platter in dinner_platters %}
                    <option value="{{ dinner_platter.id }}">{{ dinner_platter }}</option>
                {% endfor %}
            </select>
            <select name="dinner_platter_size">
                {% for size in dinner_platter_sizes %}
                    <option value="{{ size.id }}">{{ size }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Add to cart">
        </form>
    {% endif %}

    <!-- #endregion Menu -->

    <!-- #region Cart -->
    {% if cart %}
        <h3>Shopping Cart</h3>
        
        <ul>
            {% for unit in cart %}
                {% for pizza in unit.pizzas.all %}
                    <li>{{ pizza }}</li>            
                {% endfor %}
            {% endfor %}
        </ul>    
        
        <hr>

        <span id="total_price">Total price: {{ cart.0.price }} $</span>
        <!-- will be able to use this shorter cycle when we can get just the order and not a list of orders.  -->
        <!-- <ul>
            {% for pizza in cart.pizzas.all %}
                <li>{{ pizza }}</li>            
            {% endfor %}
        </ul>   -->
      
    
        <h2>Submit Order # {{ cart.0.id }} </h2>

        <form action="{% url 'order' cart.0.id %}" method="post">
            {% csrf_token %}
            <label for="address">Add Address (city, street)</label><br>
            <input id="address" name="address" type="text"/>
            <input type="submit" value="Submit Order"/>
        </form>

    {% endif %}
    <!-- #endregion Cart -->

{% endblock %}
