{% extends "orders/base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block body %}
    <h1>Hello, {{ user.first_name }}</h1>
    <ul>
        <li>Currently logged in as: {{ user.username}}, {{ user.id }}</li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    <h2>Menu</h2>
    <ul>
        {% for pizza in pizzas %}
        <li>
            {{ pizza }}
        </li>
        {% endfor %}
    </ul>
    
    <h2>Add Item to Shopping Cart</h2>
    
    {% if pizzas %}
        <h3>Pick a Pizza</h3>
        <form id="pizza_form" action="{% url 'cart' %}" method="post">
            {% csrf_token %}
            

            <select id="pizza_name" name="pizza_name">
                <!-- <option>Select pizza</option> -->
                {% for pizza_name in pizza_names %}
                    <option value="{{ pizza_name.id }}">{{ pizza_name }}</option>
                {% endfor %}
            </select>

            <select id="pizza_size" name="pizza_size">
                <!-- <option>Select size</option> -->
                {% for pizza_size in pizza_sizes %}
                    <option value="{{ pizza_size.id }}">{{ pizza_size }}</option>
                {% endfor %}
            </select>

            <!-- <select id="pizza_topping_combo" name="pizza_topping_combo">
                {% for pizza_topping_combo in pizza_topping_combos %}
                    <option value="{{ pizza_topping_combo.id}}">{{ pizza_topping_combo }}</option>
                {% endfor %}
            </select> -->
            
            <select id="pizza_toppings" name="pizza_toppings" multiple>
                {% for pizza_topping in pizza_toppings %}
                <option value="{{ pizza_topping.id }}">{{ pizza_topping }}</option>
                {% endfor %}
            </select>
            
            <select name="pizza_topping_combo">
                <option id="pizza_topping_combo"></option>
            </select>
        
            <span id="pizza_topping_combo_selected" name="pizza_topping_combo"> </span>

            <span id="pizza_price"></span>
            <label for="count">Quantity (between 1 and 5):</label>
            <input type="number" id="quantity" name="count" min="1" max="5" value="1">
            
            <input type="submit" value="Add to cart"/>
        </form>
    {% endif %}
    {% if cart %}
        <h3>Shopping Cart</h3>
        
        <!-- <p> {{ cart }} </p> -->
        
        <ul>
            {% for unit in cart %}

                <!-- <p>{{ unit }} </p>
                <p>{{ unit.pizzas.all }}</p> -->

                {% for pizza in unit.pizzas.all %}
                    <li>{{ pizza }}</li>            
                {% endfor %}
                
            {% endfor %}
        </ul>    
            
    {% endif %}
{% endblock %}
